@model AspDotNetTraining.Models.Student
@{
    var isEdit = !Model.Id.Equals(0);
    var action = isEdit ? "Update" : "Create";
    ViewBag.Title = isEdit ? "Edit Student" : "New Student";
}

<h2>
    @(isEdit ? "Edit" : "New") Student
</h2>

@using (Html.BeginForm(action, "Students"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "E.g. Your Name Please" })
    </div>
    <div class="form-group">
        <label for="IcNumber">IC Number</label>
        @Html.TextBoxFor(m => m.IcNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="MatricNumber">Matric Number</label>
        @Html.TextBoxFor(m => m.MatricNumber, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}

